body {
    height: auto;
    width: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    border: 5px dotted black;
    background-color: burlywood;
}
#click {
    font-size: 40px;
}
#color{

    height: 300px;
    width: 300px;
}
.blue {
    background-color: blue;
}
.red{
    background-color: red;
}